.nav {
    display: flex;
    justify-content: center;
  }
  
  .nav ul {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .nav li {
    margin-right: 10px;
  }
  
  .nav a {
    text-decoration: none;
  }


  /* Estilo para el botón seleccionado */
.toggle-button.selected {
  background-color: #3498db;
  color: #fff;
}
