.container {
    overflow: hidden;
    width: 700px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.329);
    border: 5px groove #010003;
    font-size: 10px;
    perspective: 1000px;
    transition: background-color 0.3s, transform 0.3s;
    margin: 0;
    background-color: rgb(22, 20, 24);
    color: #eee;
  }
  
  .container:hover {
    background-color: rgba(250, 217, 3, 0.474);
    transform: scale(1.05) rotateY(10deg);
    border-color: #fd0101;
    border-width: 7px;
    border-style: groove;
    background-image: url('../../Video/pokegif.gif');
    background-size: cover; /* Ajusta el tamaño del fondo para cubrir todo el contenedor */
    background-position: center; /* Centra el fondo en el contenedor */
  }
  
  .container img {
    width: 50%;
    height: 50%;
    object-fit: contain;
    transition: transform 0.6s;
  }
  

 .containerLetra{
    width: auto;
    height: auto;
    font-size: 1.2em;
    justify-self: end;
  
 }